.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202020
}



.element__buttonAdd {
  margin: 70px 0 80px;
  width: 240px;
  height: 36px;
  border: none;
  padding: 0;
  background: #2F2F2F;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .movies__searchAndFilter {
display: flex;

    min-width: 708Px;
    margin: 80px 30px 0;
    background-color: #222222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
  }


}

@media screen and (min-width: 1280px) {}