.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  margin: 70px 30px 40px;
}

.profile__welcome {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

/* .profile__userData {
  width: 100%;
  list-style: none;
  margin: 80px 0 0;
  padding: 0;

} */

/* .profile__userData_line {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
  border-bottom: 1px solid#424242;
  margin-top: 17px;
} */
/*
.profile__userData_value {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
} */

/* .profile__userData_line:first-of-type {
  margin-top: 0;
}

.profile__userData_line:last-of-type {
  border: none; */
/* } */
.profile__form {
  width: 100%;
  margin: 80px 0 0;
  display: flex;
  flex-direction: column;
}

.profile__form_line {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid#424242;
}

.profile__form_input {
  background-color: black;
  border: none;
  width: 120px;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #FFFFFF;
}

.profile__form_label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  align-self: center;
}

.profile__form_submitButton {
  margin: 379px 0 0;
  color: #FFFFFF;
  background-color: black;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.profile__form_exitAccountButton {
  margin: 16px 0 0;
  color: #EE3465;
  background-color: black;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}