.aboutProject {
  padding: 70px 18px;
  color: #FFFFFF;
  background-color: #202020;
}

.aboutProject__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  height: 50px;
  border-bottom: 1px solid #DADADA;
}

.aboutProject__table {
  padding: 0;
  margin: 60px 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.aboutProject__table_cell {
  margin: 56px 0 0;
}

.aboutProject__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.aboutProject__description {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  margin: 16px 0 0;
}

.aboutProject__table_cell:first-of-type {
  margin-top: 0;
}

.aboutProject__brief {
  display: flex;
  flex-direction: row;
  margin: 60px 0 0;
}

.aboutProject__brief_column {
  width: 100%;
  height: 35px;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  position: relative;
}

.aboutProject__brief_column_colorGreen {
  background-color: #3DDC84;
}

.aboutProject__brief_column_size {
  max-width: 100px;
}

.aboutProject__brief_column_colorGrey {
  background-color: #303030;
}

.aboutProject__brief_column_title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutProject__brief_column_title_colorBlack {
  color: black;
}

.aboutProject__brief_title {
  margin-top: 0;
}

.aboutProject__brief_column_title_colorGray {
  color: #A0A0A0
}

@media screen and (min-width: 768px) {
  .aboutProject {
    padding: 90px 50px;
  }

  .aboutProject__title {
    font-size: 22px;
    line-height: 27px;
  }

  .aboutProject__table {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
  }

  .aboutProject__table_cell {
    margin: 0;
    /* max-width: 319px; */
  }
    .aboutProject__table_cell:first-of-type {
      margin-right: 30px;
      /* max-width: 319px; */
    }

  .aboutProject__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .aboutProject__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .aboutProject__brief_column_size {
    max-width: 140px;
  }

  .aboutProject__brief_column {
    height: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .aboutProject {
    padding: 110px 70px;
  }

   .aboutProject__table_cell {
    max-width: 550px;
  }

  .aboutProject__description {
    font-size: 14px;
    line-height: 20px;
    margin-top: 26px;
  }

    .aboutProject__brief_column_size {
      max-width: 228px;
    }

}