.element {
  margin: 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element__container {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 50px;
  border-top: 1px solid #424242;
}

