.portfolio {
  margin: 70px 14px 70px 14px;
  color: #FFFFFF;
}

.portfolio__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0 0 20px;
}

.portfolio__link_block {
  display: flex;
justify-content: space-between;
  height: 47px;
  border-bottom: 1px solid #E6E6E6;
  margin: 20px 0 0;
}

.portfolio__link_block_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
margin: 0;
}
.portfolio__link_arrow{
  margin-left: auto;
  width: 18px;
  height: 28px;
}

.portfolio__link_arrow:hover{
  opacity: 0.5;
}