.portfolio {
  padding: 0 14px 70px;
  color: #FFFFFF;
  background-color: #202020;
}

.portfolio__link_blocks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0;
}


.portfolio__link {
  display: flex;
  justify-content: space-between;
  /* height: 47px;
  border-bottom: 1px solid #E6E6E6;
  margin: 20px 0 0; */
  text-decoration: none;
  color: #FFFFFF;
}

.portfolio__link_block {
  /* display: flex;
  justify-content: space-between; */
  height: 47px;
  border-bottom: 1px solid #E6E6E6;
  margin: 20px 0 0;
}

.portfolio__link_block:first-of-type {
  margin-top: 40px;
}

.portfolio__link_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  margin: 0;
}

.portfolio__link_arrow {
  margin-left: auto;
  width: 18px;
  height: 28px;
}

.portfolio__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__title {
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__link_block {
    height: 69px;
  }

  .portfolio__link_block:first-of-type {
    margin-top: 50px;
  }

  .portfolio__link_title {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__link_arrow {
    width: 27px;
    height: 60px;
  }

}

@media screen and (min-width: 1280px) {
  .portfolio {
    padding: 0 70px 125px;
  }

  .portfolio__link_title {
    font-size: 30px;
  }

  .portfolio__link_arrow {
    width: 29px;
  }
}