.navTab {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  padding: 25px 53px;
  margin: 0;
  background-color: #272727;
}

.navTab__links {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #FFFFFF;
}

.navTab__links:hover {
  opacity: 0.5;
}


@media screen and (min-width: 768px) {
  .navTab {
    padding: 24px 246px;
  }

  .navTab__links {
    font-size: 13px;
  }

}

@media screen and (min-width: 1280px) {
  .navTab {
    padding: 24px 502px;
  }
}