.movies__search {
  min-width: 300px;
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  margin: 80px 10px 0;
  align-items: center;

}




.movies__find{
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  margin-right: 19px;
  }
  .movies__find:hover {
    opacity: 0.5;
  }

