.searchForm {
  min-width: 300px;
    height: 72px;
  margin: 80px 10px 0;
  align-items: center;
  background: #222222;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  display: flex;
}

.searchForm__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.searchForm__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8B8B8B;
  background-color: #222222;
  border: none;
  margin-left: 19px;
  width: 70%;
}



.searchForm__submitButton {
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  margin-right: 19px;
}

.searchForm__errorState {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF0000;
  position: absolute;
  top: 32px;
  left: 19px;
  transition: opacity 0.3s;
  z-index: 1;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .searchForm {
    width: 80%;
    margin: 0;
    box-shadow: none;
  }

  .searchForm__input {
    font-size: 18px;
    width: 80%;

  }

  .searchForm__input::placeholder {
    background: url(../../../images/findInInput.svg) no-repeat;
    text-indent: 35px;

  }

  .searchForm__submitButton {
    margin: 0 19px 0 0;
  }

  .searchForm__form {
    border-right: 1px solid#505050;
  }

}

@media screen and (min-width: 1280px) {}