.aboutMe {
  margin: 70px 14px 0px 14px;
  color: #FFFFFF;
}

.aboutMe__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin: 0;
  height: 50px;
  border-bottom: 1px solid #DADADA;
}

.aboutMe__photo {
  width: 100%;
  object-fit: contain;
  margin-top: 60px;
}

.aboutMe__info_title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  margin: 40px 0 0;
}

.aboutMe__info_subtitle {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  margin: 20px 0 0;
}

.aboutMe__info_description {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  margin: 20px 0 0;
}

.aboutMe__info_githabLink {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 40px 0 0;
  text-decoration: none;
  color: #FFFFFF;
}

.aboutMe__info_githabLink:hover {
  opacity: 0.5;
}